webapp/build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="lib/material.min.css" rel="stylesheet">
    <!-- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')-->
    <link href="lib/material-icons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/material.min.js"></script>
    <script src="lib/jquery-2.2.0.min.js"></script>
    <script src="lib/require.min.js"></script>
  </head>
  <body>
    <div id="pg-search" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-shadow--8dp"><a href="#/page/main">
          <div class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i>
          </div></a>
        <div class="mdl-layout__header-row">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
            <input id="search-form__search" onchange="searchUsers();" class="mdl-textfield__input">
            <label class="mdl-textfield__label">Search</label>
          </div>
        </div>
        <!-- button.mdl-button.mdl-button--colored.mdl-button--raised(onclick='searchUsers();') Search-->
      </header>
      <div class="mdl-layout__content">
        <div class="content"></div>
      </div>
    </div>
    <div id="pg-main" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs"><a href="#/page/add">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored floating-button"><i class="material-icons">person_add</i>
        </button></a>
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row"><span class="mdl-layout-title">Numerology</span><a href="#/page/search"><i class="material-icons">search </i></a>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect"><a href="#panel-contacts" class="mdl-layout__tab is-active">Contacts</a><a href="#panel-lifepath" class="mdl-layout__tab">Life Path</a><a href="#panel-month" class="mdl-layout__tab">Month</a>
        </div>
      </header>
      <div class="mdl-layout__drawer"><span class="mdl-layout-title">Numerology</span>
        <nav class="mdl-navigation"><a href="#/page/main/contacts" class="mdl-navigation__link">Contacts</a><a href="#/page/main/lifepath" class="mdl-navigation__link">Lifepath</a><a href="#/page/calcword" class="mdl-navigation__link">Word calculator</a><a href="#/page/calcdate" class="mdl-navigation__link">Date calculator</a>
        </nav>
      </div>
      <div class="mdl-layout__content">
        <script id="template__users" type="text/x-handlebars-template">
          <ul class="mdl-list">{{#each users}}

            <li class="mdl-list__item mdl-list__item--two-line"><span class="mdl-list__item-primary-content"><a href="#/page/user/{{_id}}"><span class="mdl-list__item-icon contact__lifepath">{{lifepath}}</span><span>{{name}}</span><span class="mdl-list__item-sub-title">{{date}}-{{month}}-{{year}}</span></a></span><span class="mdl-list__item-secondary-content"><a onclick="window.db.contactStar('{{_id}}');" class="mdl-list__item-secondary-action">{{#if star}}
<i class="material-icons contact__star">star</i>{{else}}
<i class="material-icons contact__star">star_border</i>{{/if}}
</a></span>
            </li>{{/each}}

          </ul>
        </script>
        <script id="template__users--empty" type="text/x-handlebars-template">
          <h3 class="contact__empty">No contacts found. Add one now</h3>
        </script>
        <div id="panel-contacts" class="mdl-layout__tab-panel is-active">
          <h3 class="contact__empty">No contacts found. Add one now </h3>
        </div>
        <div id="panel-lifepath" class="mdl-layout__tab-panel">
          <h3 class="contact__empty">No contacts found. Add one now</h3>
        </div>
        <div id="panel-month" class="mdl-layout__tab-panel">
          <h3 class="contact__empty">No contacts found. Add one now</h3>
        </div>
      </div>
      <!-- TODO testing ads out-->
      <div class="chitika">
        <script>( function() {if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };var unit = {"calltype":"async[2]","publisher":"ongspxm","width":480, "height":50,"sid":"Chitika Default"};var placement_id = window.CHITIKA.units.length;window.CHITIKA.units.push(unit);document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');}());</script>
        <script async="async" src="http://cdn.chitika.net/getads.js"></script>
      </div>
    </div>
    <div id="pg-add" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header"><a href="#/page/main">
          <div class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i>
          </div></a>
        <div class="mdl-layout__header-row"><span class="mdl-layout-title">Add new contact</span>
        </div>
      </header>
      <div class="mdl-layout__content">
        <form id="add-form" onsubmit="form_add();"><i class="material-icons">person</i>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="add-form__name" type="text" class="mdl-textfield__input">
            <label for="add-form__name" class="mdl-textfield__label">Name</label>
          </div>
          <div class="add-form__date">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="add-form__date" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
              <label for="add-form__date" class="mdl-textfield__label">DD</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="add-form__month" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
              <label for="add-form__month" class="mdl-textfield__label">MM</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="add-form__year" type="text" pattern="[0-9]{4}" class="mdl-textfield__input">
              <label for="add-form__year" class="mdl-textfield__label">YYYY</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Add Contact</button>
        </form>
      </div>
    </div>
    <div id="pg-user" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header"><a href="#/page/main">
          <div class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i>
          </div></a>
        <div class="mdl-layout__header-row"><span id="user__title" class="mdl-layout-title"></span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect"><a href="#panel-figure" class="mdl-layout__tab is-active">Chart</a><a href="#panel-name" class="mdl-layout__tab">Name</a><a href="#panel-description" class="mdl-layout__tab">Description </a><a href="#panel-comp" class="mdl-layout__tab">Compatibility</a>
        </div>
      </header>
      <div class="mdl-layout__content">
        <script id="figureTemplate" type="text/x-handlebars-template">
          <svg width="100%" viewBox="0 0 500 600">
            <style><![CDATA[
  #background{
    fill:#fff;
    stroke:#000;
    stroke-width:3;
  }

  #highlight.metal{
    fill:#DDDDDD;
  }

  #highlight.water{
    fill:#7FDBFF;
  }

  #highlight.wood{
    fill:#2ECC40;
  }

  #highlight.fire{
    fill:#FF851B;
  }

  #highlight.earth{
    fill:#FFDC00;
  }

  #boxes rect, #circles circle, #lines line{
    fill:#fff;
    stroke:#000;
    stroke-width:3;
  }

  #numbers{
    font-size:40px;
    font-family:Helvetica, Arial, Sans-Serif;
  }

  .bold{
    font-weight: bold;
  }
]]>
            </style>
            <rect id="background" x="3" y="100" width="494" height="497"></rect>
            <polygon id="highlight" points="160,260 340,260 250,350"></polygon>
            <g id="lines">
              <line x1="0" y1="100" x2="500" y2="100"></line>
              <line x1="0" y1="350" x2="500" y2="350"></line>
              <line x1="0" y1="100" x2="250" y2="350"></line>
              <line x1="500" y1="100" x2="250" y2="350"></line>
              <line x1="250" y1="100" x2="250" y2="260"></line>
              <line x1="80" y1="180" x2="420" y2="180"></line>
              <line x1="160" y1="260" x2="340" y2="260"></line>
            </g>
            <g id="circles">
              <circle r="30" cx="250" cy="95"></circle>
              <circle r="30" cx="250" cy="175"></circle>
              <circle r="30" cx="250" cy="255"></circle>
              <circle r="30" cx="250" cy="365"></circle>
              <circle r="30" cx="145" cy="175"></circle>
              <circle r="30" cx="365" cy="175"></circle>
            </g>
            <g id="boxes">
              <rect width="50" height="50" x="25" y="195"></rect>
              <rect width="50" height="50" x="430" y="195"></rect>
              <rect width="50" height="50" x="225" y="430"></rect>
            </g>
            <text id="numbers">
              <tspan id="figure-aa" x="240" y="110">{{aa}}</tspan>
              <tspan id="figure-ab" x="240" y="190">{{ab}}</tspan>
              <tspan id="figure-ac" x="240" y="270">{{ac}}</tspan>
              <tspan id="figure-ad" x="240" y="380">{{ad}}</tspan>
              <tspan id="figure-ba" x="135" y="190">{{ba}}</tspan>
              <tspan id="figure-bb" x="355" y="190">{{bb}}</tspan>
              <tspan id="figure-dd" x="60" y="75">{{dd}}</tspan>
              <tspan id="figure-mm" dx="50">{{mm}}</tspan>
              <tspan id="figure-y1" dx="70">{{y1}}</tspan>
              <tspan id="figure-y2" dx="50">{{y2}}</tspan>
              <tspan id="figure-l" x="85" y="150">{{l}}</tspan>
              <tspan id="figure-m" x="180">{{m}}</tspan>
              <tspan id="figure-n" x="305">{{n}}</tspan>
              <tspan id="figure-o" x="405">{{o}}</tspan>
              <tspan id="figure-p" x="180" dy="85">{{p}}</tspan>
              <tspan id="figure-q" x="305">{{q}}</tspan>
              <tspan id="figure-a" x="40">{{a}}</tspan>
              <tspan id="figure-b" x="445">{{b}}</tspan>
              <tspan id="figure-r" x="240" dy="89" class="bold">{{r}}</tspan>
              <tspan id="figure-s" x="40">{{s}}</tspan>
              <tspan id="figure-t" x="130">{{t}}</tspan>
              <tspan id="figure-u" x="360">{{u}}</tspan>
              <tspan id="figure-v" x="445">{{v}}</tspan>
              <tspan id="figure-w" x="150" dy="100">{{w}}</tspan>
              <tspan id="figure-x" x="330">{{x}}</tspan>
              <tspan id="figure-c" x="240" dy="45">{{c}}</tspan>
              <tspan id="figure-y" x="150" dy="45">{{y}}</tspan>
              <tspan id="figure-z" x="330">{{z}}</tspan>
              <tspan x="240" dy="50">9</tspan>
            </text>
          </svg>
        </script>
        <div id="panel-figure" class="mdl-layout__tab-panel is-active">
          <figure id="figure"></figure>
          <button onclick="window.delete_user();" class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect">Delete Contact</button>
        </div>
        <div id="panel-comp" class="mdl-layout__tab-panel">
          <form onsubmit="calcComp();" class="comp-form">
            <div class="fields">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="comp-form__date" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
                <label for="add-form__date" class="mdl-textfield__label">DD</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="comp-form__month" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
                <label for="add-form__month" class="mdl-textfield__label">MM</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="comp-form__year" type="text" pattern="[0-9]{4}" class="mdl-textfield__input">
                <label for="add-form__year" class="mdl-textfield__label">YYYY</label>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Get Value</button>
          </form>
          <div id="comp-details">
            <div id="text" class="mdl-typography--headline">You guys will get along great</div>
            <div id="comp-bar" class="rating-bar">
              <div class="bar bar1"></div>
            </div>
          </div>
          <div id="comp-chart2"></div>
          <div id="comp-chart"></div>
        </div>
        <div id="panel-name" class="mdl-layout__tab-panel">
          <div class="content">
            <div id="name" class="mdl-typography--display-2"></div>
            <div id="number" class="mdl-typography--display-4"></div>
            <div id="bar" class="rating-bar">
              <div class="bar"></div>
            </div>
            <div id="desc" class="mdl-typography--headline"></div>
            <form id="name-form">
              <div class="mdl-textfield mdl-js-textfield">
                <input id="name-form__name" type="text" placeHolder="Alternative Name" class="mdl-textfield__input">
              </div>
              <button onclick="window.tryName();" class="mdl-button mdl-button--primary mdl-js-button mdl-button--raised mdl-js-ripple-effect">Try Name</button>
              <button onclick="window.changeName();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Change Name</button>
            </form>
          </div>
        </div>
        <div id="panel-description" class="mdl-layout__tab-panel">
          <form id="edit-form"><textarea id="edit-form__desc" rows="10" placeHolder="Description" class="mdl-textfield__input"></textarea>
            <button onclick="window.form_save()" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Save Description</button>
          </form>
          <div class="debug"><textarea id="debug" type="text" rows="3" placeHolder="debug" class="mdl-textfield__input"></textarea>
            <button onclick="window.debug();" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">debug</button>
          </div>
        </div>
      </div>
    </div>
    <div id="pg-calcword" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header"><a href="#/page/main">
          <div class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i>
          </div></a>
        <div class="mdl-layout__header-row"><span class="mdl-layout-title">Calculating word</span>
        </div>
      </header>
      <div class="mdl-layout__content">
        <div id="name-title" class="mdl-typography--display-2">numerlogy</div>
        <div id="name-num" class="mdl-typography--display-4">4</div>
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="word-form__title" type="text" class="mdl-textfield__input">
            <label for="word-form__title" class="mdl-textfield__label">Title to calculate</label>
          </div>
          <button onclick="window.calcWord();" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Get Value</button>
        </form>
      </div>
    </div>
    <div id="pg-calcdate" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header"><a href="#/page/main">
          <div class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i>
          </div></a>
        <div class="mdl-layout__header-row"><span class="mdl-layout-title">Calculating date</span>
        </div>
      </header>
      <div class="mdl-layout__content">
        <form class="date-form">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="date-form__date" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
            <label for="add-form__date" class="mdl-textfield__label">DD</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="date-form__month" type="text" pattern="[0-9]{2}" class="mdl-textfield__input">
            <label for="add-form__month" class="mdl-textfield__label">MM</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="date-form__year" type="text" pattern="[0-9]{4}" class="mdl-textfield__input">
            <label for="add-form__year" class="mdl-textfield__label">YYYY</label>
          </div>
        </form>
        <button onclick="window.calcDate();" class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Get Value</button>
        <div id="date-chart"></div>
      </div>
    </div>
    <!-- scripts to load-->
    <script>window.json = function(o){ return JSON.stringify(o); };
//window.console.log = function(text){alert(text);};
$('.debug')[0].style.display = 'none';
    </script>
    <script src="js/database.js"></script>
    <script src="js/app.js"></script>
    <script src="js/startup.js"></script>
  </body>
</html>

webapp/src/index.jade
doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(href='lib/material.min.css', rel='stylesheet')
    // link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='lib/material-icons.css', rel='stylesheet')

    link(href='css/style.css', rel='stylesheet')

    script(src='lib/material.min.js')
    script(src='lib/jquery-2.2.0.min.js') 
    script(src='lib/require.min.js') 
  body
    #pg-search.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-shadow--8dp
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back

        .mdl-layout__header-row
 
          .mdl-textfield.mdl-js-textfield.mdl-textfield--full-width
            input.mdl-textfield__input#search-form__search(onchange='searchUsers();') (type='text')
            label.mdl-textfield__label Search
          
        // button.mdl-button.mdl-button--colored.mdl-button--raised(onclick='searchUsers();') Search
      
      .mdl-layout__content
        .content
       
    #pg-main.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      a(href='#/page/add')
        button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.floating-button
          i.material-icons person_add
      
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Numerology
          a(href='#/page/search')
            i.material-icons search 
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a(href='#panel-contacts').mdl-layout__tab.is-active Contacts
          a(href='#panel-lifepath').mdl-layout__tab Life Path
          a(href='#panel-month').mdl-layout__tab Month
      
      .mdl-layout__drawer
        span.mdl-layout-title Numerology
        nav.mdl-navigation
          a.mdl-navigation__link(href='#/page/main/contacts') Contacts
          a.mdl-navigation__link(href='#/page/main/lifepath') Lifepath
          a.mdl-navigation__link(href='#/page/calcword') Word calculator
          a.mdl-navigation__link(href='#/page/calcdate') Date calculator

      .mdl-layout__content
        script#template__users(type='text/x-handlebars-template')
          ul.mdl-list
            {{#each users}}
            li.mdl-list__item.mdl-list__item--two-line
              span.mdl-list__item-primary-content
                a(href='#/page/user/{{_id}}')
                  span.mdl-list__item-icon.contact__lifepath {{lifepath}}
                  span {{name}}
                  span.mdl-list__item-sub-title {{date}}-{{month}}-{{year}}
              span.mdl-list__item-secondary-content
                a.mdl-list__item-secondary-action(onclick="window.db.contactStar('{{_id}}');")
                  {{#if star}}
                  i.material-icons.contact__star star
                  {{else}}
                  i.material-icons.contact__star star_border
                  {{/if}}
            {{/each}}
        script#template__users--empty(type='text/x-handlebars-template')
          h3.contact__empty No contacts found. Add one now

        .mdl-layout__tab-panel.is-active#panel-contacts 
          h3.contact__empty No contacts found. Add one now 
        .mdl-layout__tab-panel#panel-lifepath
          h3.contact__empty No contacts found. Add one now
        .mdl-layout__tab-panel#panel-month
          h3.contact__empty No contacts found. Add one now
      
      // TODO testing ads out
      .chitika
        script ( function() {if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };var unit = {"calltype":"async[2]","publisher":"ongspxm","width":480, "height":50,"sid":"Chitika Default"};var placement_id = window.CHITIKA.units.length;window.CHITIKA.units.push(unit);document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');}());
        script(async='async', src='http://cdn.chitika.net/getads.js')

    #pg-add.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back

        .mdl-layout__header-row
          span.mdl-layout-title Add new contact

      .mdl-layout__content        
        form#add-form(onsubmit='form_add();')
          i.material-icons person

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#add-form__name(type='text')
            label.mdl-textfield__label(for='add-form__name') Name

          .add-form__date
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__date(type='text', pattern='[0-9]{2}')
              label.mdl-textfield__label(for='add-form__date') DD
            
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__month(type='text', pattern='[0-9]{2}')
              label.mdl-textfield__label(for='add-form__month') MM

            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#add-form__year(type='text', pattern='[0-9]{4}')
              label.mdl-textfield__label(for='add-form__year') YYYY

          button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect Add Contact
    #pg-user.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title#user__title
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a(href='#panel-figure').mdl-layout__tab.is-active Chart
          a(href='#panel-name').mdl-layout__tab Name
          a(href='#panel-description').mdl-layout__tab Description 
          a(href='#panel-comp').mdl-layout__tab Compatibility

      .mdl-layout__content
        script#figureTemplate(type='text/x-handlebars-template')
          include ./src/svg-data.jade
        .mdl-layout__tab-panel.is-active#panel-figure
          figure#figure
          button.mdl-button.mdl-js-button.mdl-button--accent.mdl-button--raised.mdl-js-ripple-effect(onclick='window.delete_user();') Delete Contact
        
        .mdl-layout__tab-panel#panel-comp
          form.comp-form(onsubmit='calcComp();')
            .fields
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__date(type='text', pattern='[0-9]{2}')
                label.mdl-textfield__label(for='add-form__date') DD
              
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__month(type='text', pattern='[0-9]{2}')
                label.mdl-textfield__label(for='add-form__month') MM

              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input#comp-form__year(type='text', pattern='[0-9]{4}')
                label.mdl-textfield__label(for='add-form__year') YYYY

            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect Get Value
          
          #comp-details
            #text.mdl-typography--headline You guys will get along great
            #comp-bar.rating-bar
              .bar.bar1
              
          #comp-chart2
          #comp-chart

        .mdl-layout__tab-panel#panel-name
          .content
            #name.mdl-typography--display-2
            #number.mdl-typography--display-4
            #bar.rating-bar
              .bar
            #desc.mdl-typography--headline
            form#name-form
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input#name-form__name(type='text', placeHolder='Alternative Name')
              button.mdl-button.mdl-button--primary.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='window.tryName();') Try Name
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='window.changeName();') Change Name

        .mdl-layout__tab-panel#panel-description
          form#edit-form
            textarea.mdl-textfield__input#edit-form__desc(rows='10', placeHolder='Description')
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick="window.form_save()") Save Description
          
          .debug
            textarea.mdl-textfield__input#debug(type='text', rows='3', placeHolder='debug')
            button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.debug();') debug
   
    #pg-calcword.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title Calculating word
      
      .mdl-layout__content
        #name-title.mdl-typography--display-2 numerlogy
        #name-num.mdl-typography--display-4 4
        form
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#word-form__title(type='text')
            label.mdl-textfield__label(for='word-form__title') Title to calculate

          button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.calcWord();') Get Value
  
    #pg-calcdate.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        a(href='#/page/main')
          .mdl-layout__drawer-button
            i.material-icons arrow_back
        
        .mdl-layout__header-row
          span.mdl-layout-title Calculating date
      
      .mdl-layout__content
        form.date-form
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__date(type='text', pattern='[0-9]{2}')
            label.mdl-textfield__label(for='add-form__date') DD
          
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__month(type='text', pattern='[0-9]{2}')
            label.mdl-textfield__label(for='add-form__month') MM

          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#date-form__year(type='text', pattern='[0-9]{4}')
            label.mdl-textfield__label(for='add-form__year') YYYY

        button.mdl-button.mdl-js-button.mdl-button--colored.mdl-button--raised.mdl-js-ripple-effect(onclick='window.calcDate();') Get Value
        
        #date-chart

    // scripts to load
    script.
      window.json = function(o){ return JSON.stringify(o); };
      //window.console.log = function(text){alert(text);};
      $('.debug')[0].style.display = 'none';
    script(src='js/database.js')
    script(src='js/app.js')
    script(src='js/startup.js') 
